bg-image($url)
  background-image: url("../images/" + $url + "_2@2x.png")
  background-size: .32rem .32rem
bg-image2($url)
  background-image: url("../images/" + $url + "_2@3x.png")
  background-size: .32rem .32rem