* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    list-style: none;
    font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
    text-decoration: none;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

button {
    background-color: transparent;
}
a,body {
    color: #333;
}
body{
    width: 100%
}